body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: rgb(234, 233, 233);
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background: #4CAF50;
    color: white;
}
